/.idea/
/example/*.log
/*.log
/TODO.md
/test.ipynb
/test.py
/dist/
/build/
/mpone.egg-info/
/quick_debug.py
/VISA/
/test/
mpone/__pycache__/
mpone/visa/manual/__pycache__/
mpone/visa/manual/tek_2636B/__pycache__/
mpone/visa/manual/wk_41100/__pycache__/
mpone/visa/__pycache__/
